.container{
    background-color: aqua;
    display: flex;
   /* flex-direction: row, column, row-reverse, column-reverse;*/
    flex-direction: row;
    /*flex-wrap: nowrap, wrap, wrap-reverse;*/
    /*flex-wrap: wrap;*/
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    row-gap: 10px;
    column-gap: 20px;
}
.container.item{
    width: 25%;
    background-color: blue;
    color:white;
    margin: 40px 10px;

}